##### Ana Daley (amd2yc@virginia.edu)
##### DS 5001 
##### 06 May 22

In [1]:
import pandas as pd
import numpy as np

In [8]:
OHCO = ['title', 'chap_num', 'para_num', 'sent_num', 'token_num']

SENTS = OHCO[:4]
PARAS = OHCO[:3]
CHAPS = OHCO[:2]
BOOKS = OHCO[:1]

In [9]:
LIB = pd.read_csv('LIB.csv')

In [10]:
CORPUS_Eng = pd.read_csv('CORPUS_English.csv')
CORPUS_Span = pd.read_csv('CORPUS_Spanish.csv')

In [11]:
CORPUS_Eng = CORPUS_Eng.loc[CORPUS_Eng.title != 'DON QUIXOTE']
CORPUS_Span = CORPUS_Span.loc[CORPUS_Span.title != 'DON QUIJOTE']

In [12]:
CORPUS_Span = CORPUS_Span.loc[CORPUS_Span.title != 'LA TIA FINGIDA.']

In [15]:
VOCAB_Eng = CORPUS_Eng.term_str.value_counts().to_frame('n').rename(columns={'index':'term_str'})
VOCAB_Span = CORPUS_Span.term_str.value_counts().to_frame('n').rename(columns={'index':'term_str'})

In [16]:
VOCAB_Eng['n_chars'] = VOCAB_Eng.index.str.len()
VOCAB_Span['n_chars'] = VOCAB_Span.index.str.len()

In [17]:
VOCAB_Eng['p'] = VOCAB_Eng.n / VOCAB_Eng.n.sum()
VOCAB_Eng['i'] = -np.log2(VOCAB_Eng.p)

VOCAB_Span['p'] = VOCAB_Span.n / VOCAB_Span.n.sum()
VOCAB_Span['i'] = -np.log2(VOCAB_Span.p)

In [18]:
VOCAB_Eng['mean_tfidf'] = TFIDF_Eng[TFIDF_Eng > 0].mean().fillna(0)
VOCAB_Span['mean_tfidf'] = TFIDF_Span[TFIDF_Span > 0].mean().fillna(0)

In [19]:
VOCAB_Eng = VOCAB_Eng.join(pd.DataFrame(DFIDF_Eng).rename(columns={0:'dfidf'}))
VOCAB_Span = VOCAB_Span.join(pd.DataFrame(DFIDF_Span).rename(columns={0:'dfidf'}))

In [20]:
VOCAB_Eng.index.rename('term_str', inplace=True)
VOCAB_Span.index.rename('term_str', inplace=True)

In [21]:
VOCAB_Eng['pos'] = CORPUS_Eng[['term_str', 'pos']].value_counts().unstack(fill_value=0).idxmax(1)
VOCAB_Span['pos'] = CORPUS_Span[['term_str', 'pos']].value_counts().unstack(fill_value=0).idxmax(1)

In [22]:
VOCAB_Eng.sort_values('mean_tfidf', ascending = False).head(20)

             n  n_chars         p          i  mean_tfidf     dfidf  pos
term_str
isabella   136        8  0.001649   9.243874    3.584963  3.584963  NNP
monipodio   83        9  0.001007   9.956297    3.584963  3.584963  NNP
rodaja      59        6  0.000716  10.448694    3.584963  3.584963  NNP
preciosa   159        8  0.001928   9.018454    3.584963  3.584963  NNP
rafael      49        6  0.000594  10.716627    3.584963  3.584963  NNP
leonisa     89        7  0.001079   9.855603    3.584963  3.584963  NNP
marco       43        5  0.000521  10.905072    3.145988  3.584963  NNP
ricardo     72        7  0.000873  10.161412    2.900194  3.584963  NNP
leonora     56        7  0.000679  10.523982    2.788304  3.584963  NNP
richard    104        7  0.001261   9.630897    2.741442  3.584963  NNP
andrew     120        6  0.001455   9.424446    2.705632  3.584963  NNP
cadi        66        4  0.000800  10.286943    2.658512  3.584963   NN
loaysa      51        6  0.000619  10.658912    2.539348  3.584963  NNP
estefania   18        9  0.000218  12.161412    2.481897  3.584963  NNP
cornelia    79        8  0.000958  10.027556    2.360100  3.584963  NNP
costanza    55        8  0.000667  10.549977    2.215426  3.584963  NNP
berg        65        4  0.000788  10.308969    2.177781  3.584963  NNP
scip        65        4  0.000788  10.308969    2.177781  3.584963  NNS
leocadia    65        8  0.000788  10.308969    1.937707  5.169925  NNP
tomas       48        5  0.000582  10.746374    1.933463  3.584963  NNP

In [23]:
VOCAB_Span.sort_values('mean_tfidf', ascending = False).head(20)

            n  n_chars         p          i  mean_tfidf     dfidf    pos
term_str
preciosa  176        8  0.001892   9.045574    1.192729  3.584963  PROPN
isabela   154        7  0.001656   9.238219    1.016730  3.584963  PROPN
cornelia   90        8  0.000968  10.013152    0.943411  3.584963  PROPN
andres    118        6  0.001269   9.622362    0.799670  3.584963  PROPN
ricaredo  120        8  0.001290   9.598115    0.792257  3.584963  PROPN
rodolfo    44        7  0.000473  11.045574    0.762021  3.584963  PROPN
leonisa    95        7  0.001021   9.935150    0.708049  3.584963  PROPN
ricardo    85        7  0.000914  10.095614    0.633517  3.584963  PROPN
loaysa     58        6  0.000624  10.647024    0.631999  3.584963  PROPN
rafael     65        6  0.000699  10.482637    0.619741  3.584963  PROPN
lorenzo    57        7  0.000613  10.672115    0.597494  3.584963  PROPN
leonora    51        7  0.000548  10.832580    0.555724  3.584963  PROPN
marco      53        5  0.000570  10.777085    0.505327  3.584963  PROPN
peralta    16        7  0.000172  12.505005    0.470159  3.584963  PROPN
cadí       57        4  0.000613  10.672115    0.424829  3.584963   NOUN
mahamut    56        7  0.000602  10.697650    0.417376  3.584963  PROPN
leocadia   85        8  0.000914  10.095614    0.407247  5.169925  PROPN
duque     104        5  0.001118   9.804565    0.394115  5.169925   NOUN
antonio   107        7  0.001150   9.763538    0.386261  5.169925  PROPN
teodosia   38        8  0.000409  11.257078    0.362310  3.584963  PROPN

In [24]:
VOCAB_Eng.to_csv('VOCAB_Eng.csv')
VOCAB_Span.to_csv('VOCAB_Span.csv')